<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Siebwalde_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Siebwalde_Application.Properties.Settings>
      <setting name="FIDDLExYARDxSIMxSPEEDxSETTING" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SETxCOLORxTRACKxOCCUPIED" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="SETxCOLORxTRACKxNOTxINITIALIZED" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SETxCOLORxTRACKxNOTxACTIVE" serializeAs="String">
        <value>128, 128, 255</value>
      </setting>
      <setting name="SETxCOLORxTRACKxDISABLED" serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="SETxCOLORxTRACKxDISABLEDxNOTxOCCUPIED" serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="dummy" serializeAs="String">
        <value />
      </setting>
    </Siebwalde_Application.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="TOP_MIP50PositioningVelocity" value="100" />
    <add key="TOP_MIP50PositioningAcceleration" value="0.20" />
    <add key="TOP_Track1_Abs_Position" value="0" />
    <add key="TOP_Track2_Abs_Position" value="42800" />
    <add key="TOP_Track3_Abs_Position" value="85600" />
    <add key="TOP_Track4_Abs_Position" value="128400" />
    <add key="TOP_Track5_Abs_Position" value="171200" />
    <add key="TOP_Track6_Abs_Position" value="214000" />
    <add key="TOP_Track7_Abs_Position" value="256800" />
    <add key="TOP_Track8_Abs_Position" value="299600" />
    <add key="TOP_Track9_Abs_Position" value="342400" />
    <add key="TOP_Track10_Abs_Position" value="385200" />
    <add key="TOP_Track11_Abs_Position" value="428000" />
    <add key="TOP_Track1_Back_Offset" value="700" />
    <add key="TOP_Track2_Back_Offset" value="700" />
    <add key="TOP_Track3_Back_Offset" value="700" />
    <add key="TOP_Track4_Back_Offset" value="700" />
    <add key="TOP_Track5_Back_Offset" value="700" />
    <add key="TOP_Track6_Back_Offset" value="700" />
    <add key="TOP_Track7_Back_Offset" value="700" />
    <add key="TOP_Track8_Back_Offset" value="700" />
    <add key="TOP_Track9_Back_Offset" value="700" />
    <add key="TOP_Track10_Back_Offset" value="700" />
    <add key="TOP_Track11_Back_Offset" value="700" />
    <add key="BOT_MIP50PositioningVelocity" value="100" />
    <add key="BOT_MIP50PositioningAcceleration" value="0.20" />
    <add key="BOT_Track1_Abs_Position" value="0" />
    <add key="BOT_Track2_Abs_Position" value="42800" />
    <add key="BOT_Track3_Abs_Position" value="85600" />
    <add key="BOT_Track4_Abs_Position" value="128400" />
    <add key="BOT_Track5_Abs_Position" value="171200" />
    <add key="BOT_Track6_Abs_Position" value="214000" />
    <add key="BOT_Track7_Abs_Position" value="256800" />
    <add key="BOT_Track8_Abs_Position" value="299600" />
    <add key="BOT_Track9_Abs_Position" value="342400" />
    <add key="BOT_Track10_Abs_Position" value="385200" />
    <add key="BOT_Track11_Abs_Position" value="428000" />
    <add key="BOT_Track1_Back_Offset" value="700" />
    <add key="BOT_Track2_Back_Offset" value="700" />
    <add key="BOT_Track3_Back_Offset" value="700" />
    <add key="BOT_Track4_Back_Offset" value="700" />
    <add key="BOT_Track5_Back_Offset" value="700" />
    <add key="BOT_Track6_Back_Offset" value="700" />
    <add key="BOT_Track7_Back_Offset" value="700" />
    <add key="BOT_Track8_Back_Offset" value="700" />
    <add key="BOT_Track9_Back_Offset" value="700" />
    <add key="BOT_Track10_Back_Offset" value="700" />
    <add key="BOT_Track11_Back_Offset" value="700" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>